/* :root {
    --grid-cols: 1;
    --grid-rows: 1;
  } */
  /* CSS grids here */
  #container {
    border: 0.1em solid black;
    display: grid;
    /* grid-gap: 1em; */
    /* justify-content: center;    */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr); 
    max-width: 426px;
    /* height: 800px;
    width: 600px; */
  }
  
  .grid-item {
    padding: 2em;
    border: 1px solid #ddd;
    text-align: center;
}

/* .square1 .circle_black {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; 
} */
.square1 {
    border: 1.5px solid black;
    width: 50px;
    height: 50px;
    background-color: black;
    padding: 0.25em;
    text-align: center;
    align-items: center;
    margin: 0px;
   
}
.square2 {
    border: 1.5px solid black;
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 0.25em;
    text-align: center;
    align-items: center;
    margin: 0px;
}

.circle_black {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #444141;
    border-radius: 50%;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
}